*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.cuerpo-inicio{
  margin-right: 2%;
    margin-left: 2%;
}
.postImg{
  display:block;
  margin:auto;
  max-width: 75%;

}
.id-post{
  max-width: 99%;
}
.container{
  max-width: 100%;
  padding: 0;
}
.hide{
  background-color: #6c757d;
}
.usuarios {
    border-radius:150px;
}
.titleClass{
  margin-left: 44%;
}
.lista-izquierda{
  text-align: center;
}
.cambio:hover, .cambio:hover {
  background-color: #343a40!important;
  color: white;
}
.it:hover, .it:hover {
  background-color: #4C3943;
}
.menu-p{
  padding-left: 15px;
}
.form-control:hover {
  background-color: #D9D9D9;
}
.form-control:focus {
  background-color: transparent;
  border: 1px solid #ced4da;
}
.form-control{
  height: auto;
}
.inputPost{
  width: 100%;
  height: auto;
}
.box-perfil{
  max-width: 50%;
}
.C-gender{
  inline-size: 45%;
}
.f-Input{
  right: 50px;

}
.paginate{
  margin-left: 30%;
}
.search{
  padding-right: 0px;
    padding-left: 6%;
}
}
#menu-post{
  text-align: center;
  color: white;
  margin-left: 36%;
}
#botonPost{
  margin-left: 12%;
}
#padre{
  padding-top: 3%;
  display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
}




  .card{
    background-color: transparent;
    border: none;
  }
  .barra{
    padding-top: 10px;
  }
  .lista{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }

   .btn-registro{
    padding-left: 0px;
   }
   h1{
     display: flex;
     justify-content: center;
     color: #000;
   }
   h4{
     text-align: center;
   }

    a.items{
      color: #fff;
    }
     .items{
       color: #000;
     }
     .items:hover{
       text-decoration: none;
       color: #000;
     }
     .item{
       padding-top: 5px;
     }
    .cuerpo{
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }
     .article{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       margin-top: 30px;
       -webkit-box-shadow: 0.5px 0.5px 0px lightgrey;
     }
      .posteos{
        display: flex;
        flex-direction: column;
      }
      #user-img{
        display: flex;
        justify-content: center;
      }
     .post{
       position: relative;
       /* border-style: solid; */
       margin: 15px 0;
     }
       .txt{
         margin-top: 30px;
         margin-bottom: 30px;
         text-align: center;
       }

       footer{

          background-color: #6c757d;
          text-align: center;
        }

      /*---------------- Cuadro de login -----------------------------*/

  #loginPadre{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 20px;
  }

  .campo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .login{
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
  }

  .hijo{
    position: absolute;
    max-width: none;
    width: 800px;
  }
/*-----------------RESPONSIVE HOME ---------------------------------------------*/

@media (max-width: 960px) {
  .login{
    display: none;
  }
}
