*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.container{
  max-width: 100%;
  padding: 0;
}
.hide{
  background-color: #6c757d;
}

  .card{
    background-color: transparent;
    border: none;
  }
  .barra{
    padding-top: 10px;
  }
  .lista{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }

   .btn-registro{
    padding-left: 0px;
   }
   h1{
     display: flex;
     justify-content: center;
     color: #000;
   }

    a.items{
      color: #fff;
    }
     .items{
       color: #000;
     }
     .items:hover{
       text-decoration: none;
       color: #000;
     }
     .item{
       padding-top: 5px;
     }
    .cuerpo{
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }
     .article{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       margin-top: 30px;
       -webkit-box-shadow: 0.5px 0.5px 0px lightgrey;
     }
      .posteos{
        display: flex;
        flex-direction: column;
      }
      #user-img{
        display: flex;
        justify-content: center;
      }
     .post{
       position: relative;
       border-style: solid;
       margin: 15px 0;
     }
       .txt{
         margin-top: 30px;
         margin-bottom: 30px;
         text-align: center;
       }

       footer{

          background-color: #6c757d;
          text-align: center;
        }

      /*---------------- Cuadro de login -----------------------------*/

  #loginPadre{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 20px;
  }

  .campo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .login{
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
  }

  .hijo{
    position: absolute;
    max-width: none;
    width: 800px;
  }
/*-----------------RESPONSIVE HOME ---------------------------------------------*/

@media (max-width: 960px) {
  .login{
    display: none;
  }
}
